.Album {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 28px;
  color: #fff;
}

.Album a {
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

.Album a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bg.album {
  background: var(--bright-blue-gradient);
}

.Album .about {
  font-size: 16px;
  width: 300px;
  padding: 0 8px;
  text-align: center;
}

.Album .about h1 {
  font-size: 28px;
  margin-bottom: 0.3em;
}

.Album .songs {
  flex: 2;
  font-size: 14px;
  padding: 0 8px;
}

.Album .song {
  height: 4.56em;
  display: flex;
  justify-content: space-between;
}

.Album .song a {
  color: #fff;
  text-decoration: none;
  opacity: 0.6;
  transition: opacity .2s linear;
}

.Album .song a:hover {
  opacity: 1;
  text-decoration: underline;
}

.Album .separator {
  padding: 0 8px;
}